.add-drink-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.add-drink-card {
  margin-bottom: 20px;
  padding: 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  height: fit-content;
  width: 500px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.25s ease-in-out;
  &.dark {
    background-color: var(--dark-primary-color);
  }
}

h3 {
  margin: 0px 0px;
}

input {
  background-color: white;
}

.instructions-input {
  width: 300px;
  height: 50px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.button {
  font-size: 12px;
  background-color: var(--tertiary-color);
  &.dark {
    background-color: var(--dark-tertiary-color);
    color: black;
  }
  color: black;
  border-radius: 1rem;
  margin: 0.5rem;
  height: 30px;
  width: fit-content;
  border: none;
  &:hover {
    cursor: pointer;
    &:not(:active) {
      background-color: var(--secondary-color);
      &.dark {
        background-color: var(--dark-secondary-color);
      }
    }
  }
}

.submit-button {
  background-color: var(--tertiary-color);
  &.dark {
    background-color: var(--dark-tertiary-color);
    color: black;
  }
  color: black;
  border-radius: 1rem;
  margin: 0.5rem;
  height: 40px;
  width: 160px;
  border: none;
  &:hover {
    cursor: pointer;
    &:not(:active) {
      background-color: var(--secondary-color);
      &.dark {
        background-color: var(--dark-secondary-color);
      }
    }
  }
}

