.home-top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 2rem;
  padding-right: 2rem;
}

.dropdown-container label {
  position: relative;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.search-result-text {
  text-align: center;
  margin-top: 1.875rem;
}
