.home-top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.25rem;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 2rem;
  padding-right: 2rem;
}

.dropdown-container label {
  position: relative;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}

.button-arrow {
  width: fit-content;
  color: var(--quaternary-color);
  user-select: none;
  &.dark {
    color: white;
  }
}

.page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: var(--primary-color);
  &.dark {
    background-color: var(--dark-primary-color);
    color: white;
  }
  &.disabled {
    background-color: gray !important;
    opacity: 0.4;
    cursor: not-allowed !important;
  }
  color: black;
  border-radius: 1rem;
  margin: 0.5rem;
  height: 2.5rem;
  width: 6.875rem;
  border: none;
  &:hover {
    cursor: pointer;
    &:not(:active) {
      background-color: var(--secondary-color);
      &.dark {
        background-color: var(--dark-secondary-color);
      }
    }
  }
}
