.info-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.125rem;
}

.content-parent {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.picture-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.info-card {
  padding: 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  height: fit-content;
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.25s ease-in-out;
  margin-bottom: 1.25rem;
  &.dark {
    background-color: var(--dark-primary-color);
  }
}

.arrow {
  color: var(--quaternary-color);
  user-select: none;
  &.dark {
    color: var(--dark-quaternary-color);
  }
  &:hover {
    cursor: pointer;
    &:not(:active) {
      color: var(--secondary-color);
      &.dark {
        color: var(--dark-tertiary-color);
      }
    }
  }
}

.mobile-arrows {
  display: flex;
  justify-content: center;
  gap: 6.25rem;
  width: 100%;
}

p {
  margin: 0rem 0rem;
}

h2 {
  margin: 0rem 0rem;
}

img {
  position: relative;
  max-width: 31.25rem;
  max-height: 25rem;
}

@media (max-width: 31.25rem) {
  img {
    max-width: 17rem;
    max-height: 20rem;
  }
  .info-card {
    max-width: 15.625rem;
  }
}

.favourite-button {
  background-color: var(--primary-color);
  &.dark {
    background-color: var(--dark-primary-color);
    color: white;
  }
  color: black;
  border-radius: 1rem;
  margin: 0.5rem;
  height: 2.5rem;
  width: 10rem;
  border: none;
  &:hover {
    cursor: pointer;
    &:not(:active) {
      background-color: var(--secondary-color);
      &.dark {
        background-color: var(--dark-secondary-color);
      }
    }
  }
}
