.card {
  padding: 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  &.dark {
    background-color: var(--dark-primary-color);
  }
}

.card p {
  position: absolute;
  bottom: 16px;
  justify-self: flex-end;
  align-self: center;
  margin: 0;
  color: black;
  &.dark {
    color: white;
  }
}

.card img {
  position: relative;
  max-width: 320px;
  max-height: 213px;
}

.material-symbols-outlined {
  &:hover {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
}

.favourite-icon {
  color: var(--tertiary-color);
  &.dark {
    color: var(--dark-tertiary-color);
  }
}

.is-favourite {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  &:hover {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
  color: var(--quaternary-color);
  &.dark {
    color: var(--dark-quaternary-color);
  }
}

.favourite-icon-wrapper {
  height: fit-content;
  width: fit-content;
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    cursor: pointer;
  }
  user-select: none;
}

.card-wrapper {
  height: fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  transition: all 0.25s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
