select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  color: black;
  outline: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  &.dark {
    background-color: var(--dark-primary-color);
  }
}

select:hover {
  border: 1px solid gray;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
