.card {
  padding: 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  &.dark {
    background-color: var(--dark-primary-color);
  }
}

.card p {
  position: absolute;
  bottom: 1rem;
  justify-self: flex-end;
  align-self: center;
  margin: 0;
  color: black;
  &.dark {
    color: white;
  }
}

.card img {
  position: relative;
  max-width: 20rem;
  max-height: 13.3125rem;
}

.favourite-icon {
  color: var(--tertiary-color);
  &.dark {
    color: var(--dark-tertiary-color);
  }
}

.is-favourite {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: var(--quaternary-color);
  &.dark {
    color: var(--dark-quaternary-color);
  }
}

.favourite-icon-wrapper {
  height: fit-content;
  width: fit-content;
  z-index: 999;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  transition: all 0.2s ease-in-out;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.card-wrapper {
  height: fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  transition: all 0.25s ease-in-out;
}

@media (max-width: 31.25rem) {
  .card {
    width: 15.625rem;
  }
  .favourite-icon-wrapper {
    transform: scale(1.3);
  }
}

@media (min-width: 31.25rem) {
  .card-wrapper {
    &:hover {
      transform: scale(1.05);
    }
  }
  .favourite-icon-wrapper {
    &:hover {
      transform: scale(1.3);
    }
  }
}
