.dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  color: black;
  outline: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  &.dark {
    background-color: var(--dark-primary-color);
    color: white;
  }
}

.dropdown:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.dropdown:focus {
  border: 1px solid black;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  &.dark {
    border: 1px solid white;
  }
}

.dropdown::-ms-expand {
  display: none;
}

.dropdown::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.dropdown:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.dropdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 273px;
  gap: 10px;
}

.clear-button {
  cursor: pointer;
  &.dark {
    color: white;
  }
}
