.nav-bar-parent {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: right;
  margin-right: 10px;
  align-items: center;
}

.nav-bar-item {
  box-sizing: border-box;
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}

.nav-bar-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease;
}

.nav-bar-item:hover::before {
  width: 100%;
  transition: width 0.3s ease;
}

.light {
  color: black;
  &::before {
    background-color: black;
  }
}

.dark {
  color: white;
  &::before {
    background-color: white;
  }
}

/* .nav-bar-item-dark {
  box-sizing: border-box;
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  user-select: none;
}

.nav-bar-item-dark::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-bar-item-dark:hover::before {
  width: 100%;
  transition: width 0.3s ease;
} */

img {
  margin-top: 10px;
  margin-left: 10px;
}

.nav-bar-parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 546px) {
  .nav-bar-parent-container {
    flex-direction: column;
    align-items: center;
  }
}

.toggle-theme-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  align-items: center;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
}
