.searchbar-container {
  display: flex;
  width: fit-content;
  max-width: 340px;
  height: 50px;
  border-bottom: 1px solid black;
  align-items: center;
  &.dark {
    border-bottom: 1px solid white;
  }
}

.searchbar-input {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  padding: 10px;
  width: 300px;
  color: black;
  &::placeholder {
    color: gray;
    user-select: none;
  }
  &.dark {
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.clear-button {
  cursor: pointer;
  &.dark {
    color: white;
  }
}

.search-icon {
  &.dark {
    color: white;
  }
}
